body {
  background: #000 url('bg.jpg') no-repeat center top;
  background-attachment: fixed;
  color: #BDC3C7;
}

a {
  color: #32BBC7;
}

a:hover {
  color: #32BBC7;
}

h3 {
  margin-top: 0;
}

.main-header {
  margin-bottom: 32px;
}

.season h2 {
  padding: 16px;
  margin: 0;
  position: relative;
  cursor: pointer;
  background: rgba(255,255,255,0.1);
  line-height: 1;
  margin-bottom: 8px;
}

.season h2 .glyphicon {
  font-size: 26px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.episodes {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  margin-bottom: 0;
}

.episodes.closed {
  display: none;
}

.description {
  overflow: hidden;
  padding: 0 8px 0 8px;
}

.description.closed {
  -webkit-transition: all .5s;
  transition: all .5s;
  max-height: 0;
}

.description.open {
  -webkit-transition: all 1s;
  transition: all 1s;
  max-height: 200px;
}

.episode {
  background: rgba(255,255,255,0.2);
  margin-bottom: 8px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.episode.watched-true {
  opacity: 0.6;
}

.episode.watched-true a,
.episode.watched-true h3 {
  color: grey;
}


.episode.watched-true .rating {
  background: rgba(0,0,0,0.2);
}

.episode h3 {
  color: #32BBC7;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 0;
}

.episode .media-heading {
  float: left;
  padding: 13px 16px 16px 8px;
  margin: 0;
  line-height: 1;
}

.episode .media-heading small {
  display: inline-block;
  margin-bottom: 8px;
}

.episode .media-body {
  overflow: hidden;
  cursor: pointer;
}

.episode .rating {
  float: right;
  font-size: 18px;
  padding: 8px;
  margin: 16px 16px 0 0;
}

.episode .rating-high {
  background: #418300;
}

.episode .rating-med {
  background: #B46A0B;
}

.watched {
  font-size: 26px;
  padding: 16px 8px 20px 16px;
  color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.episode .glyphicon {
  background: rgba(0,0,0,0.2);
  padding: 8px;
}

.main-footer {
  padding: 0 16px 16px 0;
}

.alert {
  margin-top: 16px;
  border-radius: 0;
}