body {
  background: #000 url('bg.jpg') no-repeat center top;
  color: #BDC3C7;
}

a {
  color: #32BBC7;
}

h3 {
  margin-top: 0;
}

.episodes {
  list-style: none;
  padding-left: 0;
}

.episode {
  background: rgba(255,255,255,0.2);
  margin-bottom: 16px;
}

.episode.watched-true {
  opacity: 0.6;
}

.episode.watched-true a {
  color: grey;
}
.episode.watched-true .rating {
  background: rgba(0,0,0,0.2);
}

.episode h3 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 0;
}

.episode .media-heading {
  float: left;
  padding: 13px 16px 16px 8px;
  margin: 0;
  line-height: 1;
}

.episode .media-heading small {
  display: inline-block;
  margin-bottom: 8px;
}

.episode .media-body {
  overflow: hidden;
}

.episode .rating {
  float: right;
  font-size: 18px;
  padding: 8px;
  margin: 16px 16px 0 0;
}

.episode .rating-high {
  background: #418300;
}

.episode .rating-med {
  background: #B46A0B;
}

.watched {
  font-size: 26px;
  padding: 16px 8px 20px 16px;
  color: rgba(255,255,255,0.2);
  cursor: pointer;
}

.glyphicon {
  background: rgba(0,0,0,0.2);
  padding: 8px;
}

.glyphicon-false:before {
  content: "\e157";
}

.glyphicon-true:before {
  content: "\e013";
}